
#social-media ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
}

#social-media li {
    display: inline-block;
    margin-right: 10px;
}

#social-media li:last-child {
    margin-right: 10px;
}

#social-media a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4267B2; /* Facebook blue */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#social-media a:hover {
    background-color: #405D9D; /* Darker Facebook blue on hover */
}

#social-media a.instagram {
    background-color: #E4405F; /* Instagram pink */
}

#social-media a.instagram:hover {
    background-color: #D6336C; /* Darker Instagram pink on hover */
}
.bg-gray-800 {
    background-color: rgb(44 13 84);
    padding-top: 5px;
}
p,h1,h2,h3,a{
    font-family:'Courier New', Courier, monospace;
}
.img_deg{
    float:right;
    width: 20%;
}
.pos_cen{
    position: absolute;
    width: 70%;
}
.bg-gray-100 {
    background-color: #fff;
}